@model IEnumerable<DalaProject.Models.Product>
@{
    ViewData["Title"] = "Продукты";
}
<h2>Продукты</h2>
<p><a asp-action="Create" class="btn btn-primary">Добавить продукт</a></p>
<table class="table table-striped">
    <thead><tr><th>Название</th><th>Категория</th><th>Сезон</th><th>Фермер</th><th></th></tr></thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Category</td>
                <td>@p.Season?.Name</td>
                <td>@p.Fermer?.FullName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-sm btn-info">Открыть</a>
                    <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-sm btn-secondary">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>