@model DalaProject.Models.Ground
@using System.Security.Claims
@{
    var role = User.FindFirstValue(ClaimTypes.Role);
}
<h2>Детали земли</h2>

<p><strong>Локация:</strong> @Model.Location</p>
<p><strong>Площадь:</strong> @Model.Area га</p>
<p><strong>Компания:</strong> @Model.Company?.Name</p>
<p><strong>Фермер:</strong> @Model.Fermer?.FullName</p>

@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" width="300" />
}
@if (role == "Owner")
{
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="mt-3">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
}
<a asp-action="Index" class="btn btn-secondary">Назад</a>